<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>匯率評估</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
  <div id="app" class="container">
    <h1 class="text-center p-3">坪數計算機</h1>
    <div class="row">
      <div class="col-12 col-md-6 order-0 px-3">
        <div class="form-group">
          <label for="length">名稱</label>
          <input type="text" v-model="room" name="room" class="form-control">
        </div>
        <div class="form-group d-flex flex-wrap">
          <label for="length" class="w-100">長(cm)</label>
          <input type="text" v-model="length" name="length" class="form-control w-75">
          <button class="btn btn-dark w-25" @click="calc('length')"><i class="fas fa-calculator"></i></button>
        </div>
        <div class="form-group d-flex flex-wrap">
          <label for="width" class="w-100">寬(cm)</label>
          <input type="text" name="width" v-model="width" class="form-control w-75">
          <button class="btn btn-dark w-25" @click="calc('width')"><i class="fas fa-calculator"></i></button>
        </div>
      </div>
      <div class="col-12 col-md-6 order-2 order-md-1 px-3">
        <table class="table table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th style="width: 25%">名稱</th>
              <th style="width: 25%">長(cm)</th>
              <th style="width: 25%">寬(cm)</th>
              <th style="width: 25%">坪</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <template v-model="pingTemplate">
        <td class="room"></td>
        <td class="length"></td>
        <td class="width"></td>
        <td class="ping"></td>
      </template>
      <div class="text-center col-12 col-md-6 order-1 order-md-2 mb-5">
        小計<h2 class="result d-inline">{{ sum }}</h2>坪
        <button @click="add_ping_to_ping_all" class="btn btn-dark d-block m-auto">加入總計</button>
      </div>
      <div class="text-center col-12 col-md-6 order-3 mb-5">
        共計<h2 class="result d-inline">{{ sum_all }}</h2>坪
        <button @click="clear_all" class="btn btn-outline-dark d-block m-auto">清除所有</button>
      </div>
    </div>
  </div>
<script src="index.js"></script>
</body>
</html>
